/* ------------------------------------------------------- FONT ------------------------------------------------------- */
$base_font_family:  'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif !important;
/* ------------------------------------------------------- COLOR ------------------------------------------------------- */
$color-primary: #ED8533;
$color-white: #ffffff;
$color-gray: #777777;
$color-background: #312f2d; //#272727; 

$color-main-black: #1e1e1e;
$color-sub-black: #272727;
$color-border: #3F3F3F;

/* ------------------------------------------------------- 충전기 그룹 색상 ------------------------------------------------------- */
$color-A: #FF5050;
$color-B: #EA5DC2;
$color-C: #9D50FF;
$color-D: #5076FF;
$color-E: #28AD8D;
/* ------------------------------------------------------- LAYOUT ------------------------------------------------------- */
$external-height: 100px;
$gutter-xs: 8px; 
$gutter-sm: 12px;
$gutter-md: 20px; 
$gutter-lg: 40px; 
$gutter-xl: 80px;
$gutter-xxl: 120px;
$radius: 3px;