/* ------------------------------------------------------- FONT ------------------------------------------------------- */
$base_font_family:  "Roboto", "Noto Sans KR", sans-serif !important;
/* ------------------------------------------------------- COLOR ------------------------------------------------------- */
$color-white: #ffffff;
$color-gray: #777777;
$color-background: #272727; 

/* ------------------------------------------------------- 충전기 그룹 색상 ------------------------------------------------------- */
$color-A: #FF5050;
$color-B: #EA5DC2;
$color-C: #9D50FF;
$color-D: #5076FF;
$color-E: #28AD8D;
/* ------------------------------------------------------- LAYOUT ------------------------------------------------------- */
$external-height: 100px;

$gutter-xs: 8px; 
$gutter-sm: 12px;
$gutter-md: 20px; 
$gutter-lg: 40px; 
$gutter-xl: 80px;
$gutter-xxl: 120px;